html {
  height: 100%;
  background-color: white;
}
body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
* {
  color: #707070;
}
a,
a:hover {
  color: #707070;
  text-decoration: none;
}

/* BREADCRUMB */
ol.breadcrumb {
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
}
li.breadcrumb-item > a {
  color: #907aef;
}
li.breadcrumb-item > a:hover {
  color: #6044d8;
}

/* CREATE PROJECT */
.create-project {
  background: linear-gradient(to bottom, #90a0ef, #907aef);
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  flex-direction: column;
}
.create-project-box {
  background-color: white;
  width: 55%;
  height: 50%;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
}
#project-logo {
  width: 170px;
  margin-top: 10px;
}
.create-project-box > h1 {
  color: #907aef;
  font-weight: bold;
}
#select-task-div {
  width: 70%;
  margin-top: 50px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}
.custom-select.select-task {
  background-color: #f4f4f4;
  border: 0;
  font-size: small;
  border-radius: 30px;
}
.select-dirs {
  width: auto;
  text-align: center;
}
#selected-dir-list {
  width: 70%;
  display: inline-block;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #f4f4f4;
  border: 0;
  font-size: small;
  margin: auto;
  border-radius: 30px;
}
.input-group-append {
  float: right;
}
#select-dirs-btn {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
}
#select-dirs-btn > img {
  width: 20px;
}
#create-project-btn {
  width: 200px;
  margin: 10px auto;
  margin-top: 20px;
  border-radius: 50px;
  background-color: #907aef;
  border: 0;
  color: white;
  font-weight: bold;
}
#create-project-btn:hover {
  background-color: #6044d8;
  border: 0;
  color: white;
  font-weight: bold;
}

/* LEFT MENU */
div.left-menu {
  height: 100%;
  width: 80px;
}
img.small-logo {
  width: 40px;
  height: 40px;
  margin: 20px 20px 15px 20px;
}
button.left-img-buttons {
  width: 100%;
  left: 0;
  right: 0;
  display: inline-block;
  border: none;
  padding: 5px 15px;
  background-color: transparent;
}
button.left-img-buttons > img {
  width: 50px;
  padding: 10px;
}

/* MAIN CONTAINER = ALL */
div.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  max-width: inherit;
}

/* WORKING-AREA = MAIN-VIEW + LABEL */
div.working-area {
  display: flex;
  height: 100%;
  flex: 1;
}
div.folder-info,
div.img-info {
  margin: 0 auto;
  margin-bottom: 10px;
  height: 104px;
  display: flex;
  flex-direction: column;
}
img.folder-thumbnail,
img.thumbnail {
  margin: auto;
  max-width: 80px;
  max-height: 80px;
  width: auto;
  height: auto;
}
a.img-name {
  flex-basis: 18px;
}

/* MAIN-VIEW */
div.main-view {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 15px 0;
  margin-right: 15px;
}
div.finder {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}
div.grid-view-files {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 20px;
  background-color: #f0f0f0;
  padding: 15px;
}

/* LABEL-MENU */
div.label-menu {
  height: 100%;
  flex-basis: 250px;
  max-width: 250px;
  padding: 0 20px;
  text-align: center;
  overflow: scroll;
}
h1.label-tit {
  text-align: left;
  font-weight: bold;
  font-size: 1.4rem;
  height: 50px;
  margin: 0;
  margin-right: 10px;
  display: inline-block;
  padding: 5px 0;
}
button.add-label {
  border: 0;
  padding: 0;
  background-color: transparent;
}
button.add-label > img {
  width: 20px;
  height: 20px;
}
div.label-appended {
  display: flex;
  width: 100%;
  padding: 10px;
  border-radius: 70px;
  background-color: #f0f0f0;
  margin-bottom: 5px;
  align-items: center;
}
input.label-name {
  flex: 1;
  width: 100%;
  font-size: smaller;
  background-color: transparent;
  border: 0;
  margin-left: 5px;
}
input.activate {
  margin-right: 10px;
}
.label-counter {
  margin-right: 10px;
  color: #bbb;
}
.label-color {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.label-color-circle {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.del {
  cursor: pointer;
}

/* LABEL MENU - POPOVER */
.popover {
  padding-right: 10px;
  text-align: left;
  /* transform-origin: -4px 50%; */
  transform: translate(-10%, -15%);
  color: rgba(0, 0, 0, 0.65);
  border: 0;
  background-color: transparent;
  position: absolute;
  z-index: 2;
}
.popover-content {
  box-sizing: border-box;
  background-color: #f0f0f0;
  padding: 0.5rem;
  border-radius: 4px;
  box-shadow: 2px 0px 10px 3px lightgrey;
}
.popover-arrow {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  right: 6px;
  border-top-color: #f0f0f0;
  border-right-color: #f0f0f0;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
  display: block;
  background: 0 0;
  border-style: solid;
  border-width: 4.54264069px;
  background-color: #f0f0f0;
}
.popover-close {
  cursor: pointer;
  line-height: 0.3;
}

.popover-content > input {
  border: 0;
  margin-top: 10px;
  padding: 0 5px;
}

.btn-wrapper {
  text-align: center;
  margin-top: 10px;
}

.btn-popover {
  background-color: #907aef;
  border: 0;
  border-radius: 4px;
  color: white;
}

/* DETECTION AREA */
div.detection-area {
  height: 100%;
  width: 100%;
  max-width: inherit;
  max-height: 100%;
  padding: 15px;
  flex: 1;
  display: none;
  box-sizing: border-box;
}

div.detection-area::-webkit-scrollbar {
  width: 0;
  height: 0;
}

div.detection-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 20px;
}

div.detection-header {
  width: 100%;
  height: 40px;
  display: flex;
}
div.image-name {
  flex: 1;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}
button.detection-close {
  border: 0;
  transform: translate(0, -3px);
}
button.detection-close > img {
  width: 15px;
  height: 15px;
}

div.detection-image {
  flex: 1;
  max-height: 90%;
  position: relative;
}

div.bottom-menu {
  width: 210px;
  height: 50px;
  padding: 0;
  margin: auto;
}

div.bottom-buttons {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
div.bottom-buttons > button {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  background-color: transparent;
}
div.bottom-buttons > button > img {
  width: 25px;
}

/* CLASSIFICATION ZOOM */
div.information-window,
div.classification-zoom-window,
div.classification-analysis-window {
  width: 70%;
  height: 70%;
  position: absolute;
  z-index: 2;
  background-color: white;
  border-radius: 15px;
  top: 15%;
  left: 15%;
  display: none;
  -webkit-box-shadow: 10px 10px 24px -12px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 24px -12px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 24px -12px rgba(0, 0, 0, 0.3);
}

div.close-area {
  width: 100%;
  padding: 10px;
  text-align: right;
}
div.close-area > button {
  border: 0;
  padding: 0;
  background-color: transparent;
}
div.close-area > button > img {
  width: 20px;
  height: 20px;
}

div.classification-canvas {
  width: 100%;
  height: 80%;
  position: relative;
}

div#bottom-buttons-classification {
  grid-template-columns: repeat(3, 1fr);
}

/* CLASSIFICATION ANALYSIS */
div.classification-analysis-window {
  z-index: 3;
  background: #f0f0f0;
}
div.classification-analysis-contents {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
div.classification-analysis-contents > h1 {
  font-size: 2rem;
}
canvas.analytic-chart {
  position: relative;
  top: 10%;
}

/* INFORMATION WINDOW */
div.information-window {
  z-index: 4;
  flex-direction: column;
}

div.information-window > div.close-area {
  display: flex;
  height: 50px;
}
div.information-window > div.close-area > h1 {
  flex: 1;
  display: inline-block;
  font-size: 1.8rem;
  margin: 0;
}
div.information-contents {
  flex: 1;
  overflow-y: auto;
}
div.information-area {
  padding: 15px;
}
div.information-title {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 5px;
}
div.information-table {
  background-color: #f0f0f0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  border-radius: 5px;
}
div.keyboard,
div.desc {
  padding: 10px;
  border: 1px solid white;
  font-size: 0.9rem;
}
div.keyboard > div {
  display: inline-block;
  height: 40px;
  padding: 5px;
}
div.button-event {
  width: 40px;
  border-radius: 5px;
  background-color: white;
}
div.button-event > img {
  width: 100%;
  height: 100%;
}
div.key {
  width: 40px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  font-size: 1rem;
}
div.plus {
  color: #bbb;
}
div.event {
  color: black;
}
div.desc-gif {
  width: 100%;
  padding: 20px;
}
div.desc-gif > img {
  width: 100%;
}

/* DETECTION ANALYSIS */
div.detection-analysis-window {
  width: 70%;
  height: 70%;
  position: absolute;
  z-index: 2;
  background-color: white;
  border-radius: 15px;
  top: 15%;
  left: 15%;
  display: none;
  -webkit-box-shadow: 10px 10px 24px -12px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 24px -12px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 24px -12px rgba(0, 0, 0, 0.3);
  z-index: 3;
}
div.detection-analysis-contents {
  width: 100%;
  height: 100%;
}
div.detection-analysis-contents > h1 {
  font-size: 2rem;
}
