html {
  height: 100%;
  background-color: white;
}
body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
* {
  color: #707070;
}

/* CREATE PROJECT */
.create-project {
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  flex-direction: column;
}
#select-task-div {
  margin-top: 10px;
  margin-bottom: 16px;
}
.select-dirs {
  width: auto;
}
#selected-dir-list {
  text-overflow: ellipsis;
  overflow: hidden;
}
#select-dirs-btn {
  margin: 0;
}

/* LEFT MENU */
div.left-menu {
  height: 100%;
  width: 80px;
}
img.small-logo {
  width: 50px;
  height: 50px;
  margin: 5px 15px 15px 15px;
}
button.left-img-buttons {
  width: 100%;
  left: 0;
  right: 0;
  display: inline-block;
  border: none;
  padding: 5px 15px;
  background-color: transparent;
}
button.left-img-buttons > img {
  width: 50px;
  padding: 10px;
}
button.left-img-buttons.setting {
  position: absolute;
  width: 80px;
  bottom: 0;
}

/* MAIN CONTAINER = ALL */
div.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  max-width: inherit;
}

/* WORKING-AREA = MAIN-VIEW + LABEL */
div.working-area {
  display: flex;
  height: 100%;
  flex: 1;
}
div.folder-info,
div.img-info {
  margin: 0 auto;
}
img.folder-thumbnail,
img.thumbnail {
  margin: 0 auto;
}

/* MAIN-VIEW */
div.main-view {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 15px 0;
  margin-right: 15px;
}
div.grid-view-files {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 30px;
  background-color: #f0f0f0;
  padding: 15px;
}

/* LABEL-MENU */
div.label-menu {
  height: 100%;
  flex-basis: 200px;
  max-width: 200px;
  padding: 0 20px;
  text-align: center;
}
div.label-header {
  display: flex;
}
h1.label-tit {
  text-align: left;
  font-weight: bold;
  font-size: 1.5em;
  height: 50px;
  margin: 0;
  margin-right: 10px;
  padding: 5px 0;
}
button.label-setting {
  width: 30px;
  height: 30px;
  border: 0;
  padding: 5px;
  background-color: transparent;
}
button.label-setting > img {
  width: 100%;
  padding: 0;
}
button.add-label {
  border: 0;
  padding: 0;
  background-color: transparent;
}
button.add-label > img {
  width: 20px;
  height: 20px;
}
div.label-appended {
  display: flex;
  width: 100%;
  padding: 10px;
  border-radius: 70px;
  background-color: #f0f0f0;
  margin-bottom: 5px;
}
input.label-name {
  flex: 1;
  width: 100%;
  font-size: smaller;
  background-color: transparent;
  border: 0;
}
.label-color {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.label-color-circle {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.del {
  cursor: pointer;
}

.popover {
  padding-right: 10px;
  text-align: left;
  transform-origin: -4px 50%;
  color: rgba(0, 0, 0, 0.65);
  border: 0;
  background-color: transparent;
}
.popover-content {
  box-sizing: border-box;
  background-color: #bbb;
}
.popover-arrow {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  right: 6px;
  border-top-color: #bbb;
  border-right-color: #bbb;
  border-bottom-color: transparent;
  border-left-color: transparent;
  box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.07);
  position: absolute;
  display: block;
  width: 8.48528137px;
  height: 8.48528137px;
  background: 0 0;
  border-style: solid;
  border-width: 4.54264069px;
}

/* TAB */
div.tab-area {
  height: 100%;
  width: 100%;
  max-width: inherit;
  flex: 1;
  display: none;
  flex-direction: column;
}
.etabs-tabgroup.visible {
  font-size: smaller;
  position: relative;
  left: 15px;
  flex-basis: 32px;
  margin-top: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: transparent;
}
.etabs-tab {
  height: 32px;
  display: inline-block;
  float: none;
  background: none;
  background-color: white;
  border: 1px solid #f0f0f0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.etabs-tab.visible {
  float: none;
}
.etabs-tab.visible.active {
  background-color: #f0f0f0;
}
.etabs-tab-title {
  display: inline-block;
  padding-left: 5px;
  padding-top: 5px;
  width: 150px;
  max-width: 150px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.etabs-views {
  flex: 1;
  display: block;
  border-top: 0;
}
button.etabs-tab-button-close {
  width: 20px;
  height: 20px;
  padding: 0;
  border: 0;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* TAB CONTENT */
.etabs-view {
  position: relative;
  display: none;
  width: 100%;
  height: 100%;
}
.etabs-view.visible {
  display: flex;
}
div.tab-wrapper {
  flex: 1;
  max-height: 100%;
  height: 100%;
  display: flex;
}

div.working-tab-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  padding: 0 15px;
  border-radius: 20px;
  margin-bottom: 15px;
}
div.tab-image {
  flex: 1;
  max-height: 90%;
}

div.bottom-menu {
  width: 350px;
  height: 50px;
  padding: 0;
  margin: auto;
}

div.bottom-buttons {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
div.bottom-buttons > button {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  background-color: transparent;
}
div.bottom-buttons > button > img {
  width: 25px;
}
