html{
    height: 100%;
  }
  body{
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  button {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
  }
  button.create-project{
    background-color:rgb(7, 83, 138)
  }
  button.view-files{
    width:100%;
    left:0; 
    right:0;
    margin-left:auto;
    margin-right:auto;
    background-color:transparent
  }
  
  div.container{
    height: 100%;
    display: flex;
  }
  
  div.left-menu{
    height: 100%;
    flex-basis: 70px;
    background-color: rgb(71, 83, 138);
  }
  
  div.working-area{
    height: 100%;
    background-color: aliceblue;
    flex: 1;
  }
  div.working-area.h1{
      height: 10%;
  }
  
  div.working-datas{
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: aliceblue;
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  div.thumbnail{
    width: 100px;
    height: 100px;
    background-color: aliceblue;
  }
  a.img-name{
    align-content: center;
  }
  
  