div.tab-wrapper{
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    background-color: lemonchiffon;
}

div.working-tab-area{
    width: 100%;
    height: 100%;
    flex: 1;
    display: block;
}
div.tab-image{
    width: 100%;
    height: 90%;
}

div.bottom-menu{
    width: 100%;
    height: 10%;
    background-color: yellow;
}
div.bottom-buttons{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

div.right-menu{
    height: 100%;
    flex-basis: 200px;
    background-color: rgb(51, 88, 255);
    overflow-x: hidden;
    overflow-y: scroll;
}