<!-- Project default setting -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';"/>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../resources/styles/main.css">
    <link rel="stylesheet" type="text/css" href="../resources/styles/label.css">
    <title>Classification Annotation</title>
  </head>

  <body>
    <div class='container'>
      <div class='left-menu'>
        <button class="left-img-buttons" id="view-files"><img style="width:50px; height:50px" src="../resources/imgs/folder.png" alt="folder-img"></button>
        <button class="left-img-buttons" id="data-analysis"><img style="width:50px; height:50px" src="../resources/imgs/analysis.png" alt="graph-img"></button>
        <button class="left-img-buttons" id="save"><img style="width:50px; height:50px" src="../resources/imgs/save.png" alt="disk-img"></button>
        <button id='keyboard' class ='keyboard'>See Keyboard</button> 
      </div>

      <div class='working-area'>
        <h1 style="text-align:center;">Working area</h1>
        <div class='working-datas' style="-webkit-app-region: drag" id='all-imgs'></div>
      </div>

      <div class='right-menu'>
        <h1 class = 'label-tit' style="text-align:center;">Label</h1>
        <div class = 'label-list'></div>
        <button type='button' id='add-label' class ='btn btn-primary add-label'>Add Label</button>
      </div>
    </div>

    <script src="../renderers/commons.js"></script>
    <script src="../renderers/add-label.js"></script>
    <script src="../renderers/classification.js"></script>
    <script src="../renderers/keyboard.js"></script>
  </body>
  
</html>