<!-- Project default setting -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" type="text/css" href="../resources/styles/main.css">
    <link rel="stylesheet" type="text/css" href="../resources/styles/label.css">
    <title>Annotti</title>
  </head>

  <body>
    <div class='container'>
      <div class='left-menu'>
        <h1 style="text-align:center;">Left Menu</h1>
        <button class="view-files"><img style="width:50px; height:50px" src="../resources/imgs/folder.png" alt="folder-img"></button>
      </div>

      <div class='working-area'>
        <h1 style="text-align:center;">Working area</h1>
        
        <div class='working-datas' id='all-imgs'>
        </div>

      </div>

      <div class='right-menu'>
        <h1 class = 'label-tit' style="text-align:center;">Label</h1>
        <div class = 'label-list'>
        </div>
        <button id='add-label' class ='add-label'>Add Label</button>
      </div>
    </div>

    <script src="../renderers/commons.js"></script>
    <script src="../renderers/add-label.js"></script>

  </body>
  
</html>